.idea
.ipynb_checkpoints
**/__pycache__/
wandb
venv
.venv

!.gitkeep
!**/.gitkeep

runs/**/checkpoints/*
!runs/**/checkpoints/.gitkeep
runs/**/logs/stderr.json
runs/**/logs/stdout.json
runs/debugging
runs/test

main.ipynb
main.py
