.idea
.vscode
.venv
.cursor
.ipynb_checkpoints
**/__pycache__/
wandb
venv
.venv

!.gitkeep
!**/.gitkeep

paper/grounding
paper/**/*.aux
paper/**/*.bbl
paper/**/*.bcf
paper/**/*.blg
paper/**/*.dvi
paper/**/*.fdb_latexmk
paper/**/*.fls
paper/**/*.lof
paper/**/*.log
paper/**/*.lol
paper/**/*.lot
paper/**/*.lua
paper/**/_minted-ctufit-thesis/
paper/**/*.out
paper/**/*.ps
paper/**/*.run.xml
paper/**/*.synctex.gz
paper/**/*.timestamp
paper/**/*.toc
paper/pdfa.xmpi
paper/ctufit-thesis.pdf

runs/**/checkpoints/*
!runs/**/checkpoints/.gitkeep
runs/**/logs/stderr.json
runs/**/logs/stdout.json
runs/debugging
runs/test

main.ipynb
main.py